table {
  width: 100%;
  border-collapse: collapse;
  border: none;
  table-layout: fixed;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  font-family: inherit;
  font-size: 16px;
}

/* Celdas generales */
td {
  border: 1px solid #e0e0e0;
  padding: 15px;
  vertical-align: middle;
  background-color: #ffffff;
}


td[rowspan="2"] {
  background-color: black;
  width: 30%;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

td[rowspan="2"] img {
  max-width: 90%;
  max-height: 400px;
  margin: auto;
  display: block;
  object-fit: contain;
}


td[colspan="4"] {
  background-color: #f9f9f9;
  width: 70%;
}

td[colspan="4"] p {
  text-align: justify;
  margin: 0;
}

tr:nth-child(2) td {
  background-color: #fefefe;
}


td strong {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  color: #0077b6;
  font-size: 17px;
}


td img:not([src*="logo"]) {
  display: block;
  margin: 0 auto 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  width: auto;
  height: 150px;
  object-fit: cover;
  max-width: 100%;
}


td ul {
  padding-left: 18px;
  text-align: justify;
  margin: 10px 0 0;
  font-size: 15px;
}
